
    <div class="col-md-3" >
     <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %>
      <table class="table">
       <tbody>
        <tr></tr>
       </tbody>
      <tr><%= user.name %></tr>
      <tr><%= user.introduction %></tr>
      </table>

     <% if user == current_user %>
     <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>

<% end %>
<h1>New Book</h1>
<% if book.errors.any? %>
 <%= book.errors.count %>errors occurred
   <ul>
    <% book.errors.full_message.each do |message| %>
    <li><%=message %></li>
    <% end %>
   </ul>
<% end %>


<%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
<% end %>
    </div>
  </body>
