<p id="notice"></p>
<main>
<div class="col-md-3" >
 <h2>User info</h2>
 <%= image_tag user.get_profile_image(100,100) %>
 <table class="table">
  <tbody>
   <tr>
    <th>name</th>
    <th><%= user.name %></th>
   </tr>
   <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
   </tr>
  </tbody>
 </table>

 <div class="row">
  <% if user == current_user %>
  <button type="button" class="btn btn-secondary btn-lg btn-outline-secondary btn-block">
   <%= link_to edit_user_path(@user) do %>
   <i class="fas fa-user-cog"></i>
   <% end %>
  </button>
  <% else %>
  <button type="button" class="btn btn-secondary btn-lg">
   <%= link_to edit_user_path(@user) do %>
   <i class="fas fa-user-cog"></i>
   <% end %>
  </button>
  <% end %>
 </div>

<h1>New book</h1>
<% if book.errors.any? %>
 <%= book.errors.count %>errors occurred
  <ul>
   <% book.errors.full_messages.each do |message| %>
    <li><%=message %></li>
   <% end %>
  </ul>
<% end %>


<%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
<% end %>

</div>
</body>
</main>
